/CMakeLists.txt
/cmake-build-debug/
/build
.DS_Store
.vscode
build.sh
test.sh
.idea/
tgbm.model
.gradle
/ntl-11.4.4/

dataset/breast-cancer_scale

dataset/diabetes_scale

dataset/mnist.scale

dataset/1

dataset/2

dataset/3

dataset/4

dataset/5

dataset/6

dataset/7

dataset/8

dataset/abalone

dataset/abaloneclean

dataset/breast-cancer_scaleclean

dataset/vehicle

dataset/vehicleclean
