/CMakeLists.txt
/cmake-build-debug/
/build
.DS_Store
.vscode
build.sh
test.sh
.idea/
tgbm.model
.gradle
/ntl-11.4.4/

logs/*
fedtree-datasets/*
dataset/*
dataset/breast-cancer_scale

dataset/diabetes_scale

dataset/mnist.scale

python/FedTree/libFedTree.dylib
python/FedTree/libFedTree.so
python/FedTree/libFedTree.dll

fedtree.model